# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Adam's Site
email: adamchen04718@gmail.com
description: 
  This is my personal site!
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: Adam Chen
github_username:  ChenziqiAdam

# Analytics
analytics:
  provider               : "google" # false (default), "google", "google-universal", "custom"
  google:
    tracking_id          : "G-LB672VYSS3"
    anonymize_ip         : false # true, false (default)

# Skin
minimal_mistakes_skin: "default"

# Home page layout
paginate: 5
paginate_path: /recent/page:num

# Site default teaser image
teaser: "/images/wlop-Xiaolv-landscape.jpg"
# Site Masthead logo
logo: "/images/wlop-Xiaolv-landscape.jpg"

# Site search
search: true
lunr:
  search_within_pages: true

# Site masthead title
masthead_title: "Adam's Site"

# Post dates
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      show_date: true
      author_profile: true
      toc: true
      toc_label: "On this page"
      toc_icon: "cog"
      toc_sticky: ture

# Site author
author:
  name     : "Adam Chen"
  avatar   : "images/photo.jpg"
  bio      : "Expand the edge of my life."
  location : "Hong Kong"
  links:
    - label: "About Me"
      icon: "fas fa-fw fa-user"
      url: "https://chenziqiadam.github.io/about-me/"
    - label: "Email"
      icon: "fas fa-fw fa-envelope"
      url: "mailto:adamchen04718@gmail.com"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/ChenziqiAdam"
    - label: "LinkedIn"
      icon: "fab fa-linkedin"
      url: "https://www.linkedin.com/in/ziqi-chen-adam"

# Site footer 
footer:
  links:
    - label: "About Me"
      icon: "fas fa-fw fa-user"
      url: "https://chenziqiadam.github.io/about-me/"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/ChenziqiAdam"
    - label: "LinkedIn"
      icon: "fab fa-linkedin"
      url: "https://www.linkedin.com/in/ziqi-chen-adam"

# Code block copy button
enable_copy_code_button: true

# jekyll-archives config
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
jekyll-archives:
  enabled:
    - categories
    - tags
  layouts:
    category: archive-taxonomy
    tag: archive-taxonomy
  permalinks:
    category: /categories/:name/
    tag: /tags/:name/

# Build settings
remote_theme: "mmistakes/minimal-mistakes@4.26.2"
plugins:
  - jekyll-feed
  - jekyll-include-cache
  - jekyll-github-metadata
  - jekyll-archives

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
